/.vs/*
/DES-Core/.vs/*
/DES-Core/core/bin/*
/DES-Core/core/obj/*
/pdk/PDK/.vs/PDK/v17/*
/pdk/PDK/PDK/obj/*
/pdk/PDK/PDK/bin/*
/pdk/.vs/*
/DES-Core/core/obj/Debug/net6.0/*
/DES-Core/core/Properties/*
/DES-Core/core/bin/*
/DES-Core/.vs/*
/DES-Core/core/bin/Debug/net6.0/des-run.runtimeconfig.json
/DES-Core/core/bin/Debug/net6.0/des-run.pdb
/DES-Core/core/bin/Debug/net6.0/des-run.exe
/DES-Core/core/bin/Debug/net6.0/des-run.dll
/DES-Core/core/bin/Debug/net6.0/des-run.deps.json
*.exe
*.dll
*.pdb
*.cache
*.deps.json
*.nuget.g.targets

/obj/*
/bin/*
/.vs/*
/Properties/*
*.exe
*.dll
*.pdb
*.cache
*.deps.json
*.nuget.*.*
*.runtimeconfig.json
*.assets.json
*.CopyComplete
*.editorconfig
*.FileListAbsolute.*
*.Assembly*.cs
*.g.*

/DES-Core/core/obj/*
/DES-Core/core/bin/*
/DES-Core/core/.vs/*
/DES-Core/core/Properties/*
/DES-Core/core/bin/*.exe
/DES-Core/core/bin/*.dll
/DES-Core/core/bin/*.pdb
/DES-Core/core/bin/*.cache

DES-Core/core/bin/Debug/net6.0/DESCEnd.dll
/pdk/CppRand/x64/Debug/CppRand.tlog
/pdk/CppRand/x64/Debug
/pdk/PDK/obj/Debug/net6.0
/pdk/x64/Debug
/SocketSaber
/DES-Core/x64/Release
/PDK/CppRand/x64/Release
/PDK/PDK/obj/Release/net6.0
/DES-Core/des-config/obj
DESCEnd/
/PDK/CppRand/x64/bin/Debug
/PDK/CppRand/x64/object/Debug
