**/obj/**
**/bin/**
.vs/*
Properties/*
*.exe
*.dll
*.pdb
*.cache
*.deps.json
*.nuget.*.*
*.runtimeconfig.json
*.assets.json
*.CopyComplete
*.editorconfig
*.FileListAbsolute.*
*.Assembly*.cs
*.g.*
*.suo
*.v2
*.lock
*.vsidx
/DESrv/logs
