/.vs/*
/DES-Core/.vs/*
/DES-Core/.vs/*
*.exe
*.dll
*.pdb
*.cache
*.deps.json
*.nuget.g.targets

/obj/*
/bin/*
/.vs/*
/Properties/*
*.exe
*.dll
*.pdb
*.cache
*.deps.json
*.nuget.*.*
*.runtimeconfig.json
*.assets.json
*.CopyComplete
*.editorconfig
*.FileListAbsolute.*
*.Assembly*.cs
*.g.*

/PDK/PDK/obj/Release/net6.0
/DES-Core/des-config/obj
DESCEnd/
/PDK/CppRand/x64/bin/Debug
/PDK/CppRand/x64/object/Debug
/DES-Core/DESrv.Core/bin/**
/DES-Core/DESrv.Core/obj/**
/DES-Core/DESrv.Core/Properties/**
/DES-Core/DESrv.PDK/obj/**
/DES-Core/DESrv.Config/obj/**
/DES-Core/DESrv.PDK/obj/**
/DES-Core/outs-win/**
/DES-Core/outs-linux/**
/DES-Core/DESrv.Config/obj/**
/DES-Core/DESrv.PDK/obj/**
