/.vs/*
/DES-Core/.vs/*
/DES-Core/core/bin/*
/DES-Core/core/obj/*
/pdk/PDK/.vs/PDK/v17/*
/pdk/PDK/PDK/obj/*
/pdk/PDK/PDK/bin/*
/pdk/PDK/*
/pdk/.vs/*
/DES-Core/core/obj/Debug/net6.0/*
/DES-Core/core/Properties/*
/DES-Core/core/bin/*
/DES-Core/.vs/*
/DES-Core/core/bin/Debug/net6.0/des-run.runtimeconfig.json
/DES-Core/core/bin/Debug/net6.0/des-run.pdb
/DES-Core/core/bin/Debug/net6.0/des-run.exe
/DES-Core/core/bin/Debug/net6.0/des-run.dll
/DES-Core/core/bin/Debug/net6.0/des-run.deps.json
*.exe
*.dll
*.pdb
*.cache
*.deps.json
*.nuget.g.targets